# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\Mahdi\AppData\Roaming\MetaQuotes\Terminal\2506E8E7E4116548D478CE2C3598FAB1\MQL5\Shared Projects\BourseOnSteroid\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
